@use '../scss/color';
@use '../scss/font';
@import '../scss/mixing';

.info-wrapper{
    @include container;
    background-image: url(../../assets/virtual-pet-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    .info-container{
        @include container(700px, 650px);
        border: 1px solid black;
        @include flexbox(center, center,column);
        border: 1px solid rgba(0, 0, 0, 0.45);
        background-color: color.$background-info-box;
        border-radius:3px;
        margin:auto;
        box-shadow: -10px 10px 0 #c96523;;

        &-content{
            @include container(450px, 350px);
            @include flexbox(center, center, column);
            margin: auto auto;

            .info{
                font-family: font.$poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                padding: 0 10px;
            }

            .img-container{
                margin-top: 20px;
                gap:50px;
                @include flexbox(center, center, column);

                img{
                    width: 300px;
                }

                .star{
                    width: 100px;
                }
            }
        }

        .btnNext{
            @include container(650px, 150px);
            @include flexbox(flex-end);
    
            .nextBtn{
                @include game-button;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .info-wrapper{
        @include container;
        background-image: url(../../assets/virtual-pet-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
    
        .info-container{
            @include container(500px, 100vh);
            border: 1px solid rgba(0, 0, 0, 0.45);
            background-color: color.$background-info-box;
            border-radius:3px;
            margin:auto;
            box-shadow: 0px 0px 0 #c96523;;
    
            .btnNext{
                @include container(350px, 150px);
                @include flexbox(flex-end);
        
                .nextBtn{
                    @include game-button;
                    cursor: pointer;
                }
            }
        }
    }
}